<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <title>录入员工信息</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">员工信息系统</a>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="create.html">录入员工</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="read_list.html">员工管理</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="row" id="main">
        <div class="col-md-8 pad-right">
            <div class="card">
                <div class="card-header">录入员工</div>
                <div class="card-body">
                    <table class="table table-sm table-bordered">
                        <tbody>
                        <tr>
                            <td colspan="4" class="text-center text-success">员工详细信息</td>
                        </tr>
                        <tr>
                            <td colspan="4" class="text-center">
                                <img data-src="holder.js/150x150" class="rounded-circle">
                            </td>
                        </tr>
                        <tr>
                            <td class="text-primary text-right">姓名：</td>
                            <td>拓荒者</td>
                            <td class="text-primary text-right">职位：</td>
                            <td>python工程师</td>
                        </tr>
                        <tr>
                            <td class="text-primary text-right">学历：</td>
                            <td>大学</td>
                            <td class="text-primary text-right">生日：</td>
                            <td>1992-12-25</td>
                        </tr>
                        <tr>
                            <td class="text-primary text-right">邮箱：</td>
                            <td>1780316635@qq.com</td>
                            <td class="text-primary text-right">手机：</td>
                            <td>13700632835</td>
                        </tr>
                        <tr>
                            <td class="text-primary text-right">性别：</td>
                            <td>男</td>
                            <td class="text-primary text-right">爱好：</td>
                            <td>
                                <span class="badge badge-pill badge-light">篮球</span>
                                <span class="badge badge-pill badge-light">足球</span>
                                <span class="badge badge-pill badge-light">游泳</span>
                                <span class="badge badge-pill badge-light">唱歌</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="text-center">
                                <div class="alert alert-info">
                                    人生苦短，我用Python！
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <a class="btn btn-info" href="update.html">修改信息</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 pad-left">
            <div class="card">
                <div class="card-body">
                    <h6 class="text-center text-success">使用Flask开发CRUD WEB APP</h6>
                    <table class="table table-sm">
                        <tr>
                            <td class="text-primary text-right">开发语言：</td>
                            <td>python</td>
                        </tr>
                        <tr>
                            <td class="text-primary text-right">前端ui框架：</td>
                            <td>boostrap</td>
                        </tr>
                        <tr>
                            <td class="text-primary text-right">javascript库：</td>
                            <td>jquery</td>
                        </tr>
                        <tr>
                            <td class="text-primary text-right">存储数据库：</td>
                            <td>mysql</td>
                        </tr>
                        <tr>
                            <td class="text-primary text-right">web框架：</td>
                            <td>flask</td>
                        </tr>
                        <tr>
                            <td class="text-primary text-right">表单验证工具：</td>
                            <td>wtforms</td>
                        </tr>
                        <tr>
                            <td class="text-primary text-right">模板引擎：</td>
                            <td>jinja2</td>
                        </tr>
                        <tr>
                            <td class="text-primary text-right">wsgi工具包：</td>
                            <td>werkzeug</td>
                        </tr>
                        <tr>
                            <td class="text-primary text-right">数据库驱动：</td>
                            <td>connector/python</td>
                        </tr>
                        <tr>
                            <td class="text-primary text-right">数据库orm：</td>
                            <td>sqlalchemy</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid">
        <hr>
        <p class="text-center text-secondary">开发：蛇族拓荒者</p>
        <hr>
    </div>
</div>

<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="../static/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/holder/2.9.4/holder.min.js"></script>
</body>
</html>